snippet desc
	describe("${1:description}", function() {
		${2:// test code...}
	});

snippet it
	it("${1:description}", function() {
		${2://test code..}
	});

snippet befe
	beforeEach(function() {
		${1:// code...}
	});

snippet afte
	afterEach(function() {
		${1://code ...}
	});
